 * {
    main-bg:            #11111be6;
    main-fg:            #F5A9B8;
    main-br:            #F5A9B8;
    main-ex:            #f5e0dcff;
    select-bg:          #F5A9B8;
    select-fg:          #11111bff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
