:root,
panel,
dialog,
window {
 --lwt-toolbarbutton-icon-fill-attention: pink !important;
 --button-primary-bgcolor: pink !important;
 --button-primary-hover-bgcolor: pink !important;
 --button-primary-active-bgcolor: pink !important;
 --in-content-primary-button-background: pink !important;
 --in-content-primary-button-background-hover: pink !important;
 --in-content-primary-button-background-active: pink !important;
 --input-border-color: pink !important;
 --uc-checkbox-checked-bgcolor: pink !important;
 --checkbox-checked-bgcolor: pink !important;
 --focus-outline-color: pink !important;
 --in-content-link-color: pink !important;
}
