[Unit]
Description=Start hyprland
After=sysinit.target
After=initrd-switch-root.service
Wants=systemd-udev-trigger.service
After=systemd-udev-trigger.service
Wants=seatd.service
After=seatd.service
Wants=systemd-logind.service
After=systemd-logind.service
After=graphical.target
# Replace with your username here. It checks if your home directory exists.
ConditionPathExists=/home/diana
OnFailure=emergency.target

[Service]
Environment="TERM=xterm"
Type=simple
# This is the autologin part, also replace with your username here.
ExecStart=-/usr/bin/agetty --skip-login --nonewline --noissue --autologin diana --noclear %I $TERM
StandardOutput=null
StandardError=journal

[Install]
WantedBy=graphical.target
WantedBy=initrd-switch-root.service
